<div id="shopify-block-14952540001915115444" class="shopify-block shopify-app-block">
    <script type="lazyload_int">  
        function b64DecodeUnicode(str) {
            try {
                return decodeURIComponent(
                    atob(str)
                    .split('')
                    .map(function (c) {
                        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                    })
                    .join(''),
                );
            } catch {
                return str;
            }
        }
    </script>
    <script type="lazyload_int">
        window.upcartSettings = {};
        window.upcartSettings.upcartSettings = {};
        window.upcartSettings.upcartEditorSettings = {};
        window.upcartSettings.stickyCartButtonEditorSettings = {};
    
        window.upcartSettings.upcartSettings.cartPosition = b64DecodeUnicode("cmlnaHQ=");
        if (window.upcartSettings.upcartSettings.cartPosition === '') {
            window.upcartSettings.upcartSettings.cartPosition = b64DecodeUnicode("cmlnaHQ=");
        }
        window.upcartSettings.upcartSettings.disableSticky = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartSettings.disableSticky === '') {
            window.upcartSettings.upcartSettings.disableSticky = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartSettings.disableSticky = JSON.parse(window.upcartSettings.upcartSettings.disableSticky);
        window.upcartSettings.upcartSettings.openOnAddToCart = b64DecodeUnicode("dHJ1ZQ==");
        if (window.upcartSettings.upcartSettings.openOnAddToCart === '') {
            window.upcartSettings.upcartSettings.openOnAddToCart = b64DecodeUnicode("dHJ1ZQ==");
        }
        window.upcartSettings.upcartSettings.openOnAddToCart = JSON.parse(window.upcartSettings.upcartSettings.openOnAddToCart);
        window.upcartSettings.upcartSettings.redirectToCart = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartSettings.redirectToCart === '') {
            window.upcartSettings.upcartSettings.redirectToCart = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartSettings.redirectToCart = JSON.parse(window.upcartSettings.upcartSettings.redirectToCart);
        window.upcartSettings.upcartSettings.translations = b64DecodeUnicode("eyJjYXJ0VGl0bGUiOiJZb3VyIGNhcnQiLCJjaGVja291dCI6IkNoZWNrb3V0IOKAoiB7e3RvdGFsX3ByaWNlfX0iLCJhZGRUZXh0IjoiQWRkIiwiZW1wdHlDYXJ0IjoiWW91ciBjYXJ0IGlzIGVtcHR5IiwiZGlzY291bnRTYXZpbmdzIjoiU2F2ZSIsImNvbnRpbnVlU2hvcHBpbmciOiJPciBjb250aW51ZSBzaG9wcGluZyIsInRvdGFsU2F2aW5ncyI6IkRpc2NvdW50cyJ9");
        if (window.upcartSettings.upcartSettings.translations === '') {
            window.upcartSettings.upcartSettings.translations = b64DecodeUnicode("eyJjYXJ0VGl0bGUiOiJDYXJ0IOKAoiB7e2NhcnRfcXVhbnRpdHl9fSIsImNoZWNrb3V0IjoiQ2hlY2tvdXQg4oCiIHt7dG90YWxfcHJpY2V9fSIsImFkZFRleHQiOiJBZGQiLCJlbXB0eUNhcnQiOiJZb3VyIGNhcnQgaXMgZW1wdHkiLCJkaXNjb3VudFNhdmluZ3MiOiJTYXZlIiwiY29udGludWVTaG9wcGluZyI6Ik9yIGNvbnRpbnVlIHNob3BwaW5nIiwidG90YWxTYXZpbmdzIjoiRGlzY291bnRzIn0=");
        }
        window.upcartSettings.upcartSettings.translations = JSON.parse(window.upcartSettings.upcartSettings.translations);
        window.upcartSettings.upcartSettings.htmlFields = b64DecodeUnicode("eyJhYm92ZUZvb3RlciI6IiIsImFib3ZlSGVhZGVyIjoiIiwiYmVsb3dIZWFkZXIiOiIiLCJiZWxvd0NoZWNrb3V0QnV0dG9uIjoiICA8c2NyaXB0PlxyXG4gICAgICB2YXIgdGFyZ2V0RWxlbWVudCA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoJ1tjbGFzc149XCJzdHlsZXNfRm9vdGVyX19jaGVja291dEJ1dHRvbl9fXCJdJyk7XHJcbiAgICAgICAgICAgIGlmICh0YXJnZXRFbGVtZW50ICYmICF0YXJnZXRFbGVtZW50LmRhdGFzZXQudG90YWxJbnNlcnRlZCkge1xyXG4gICAgICAgICAgICAgICAgdmFyIHRvdGFsVGV4dCA9IGRvY3VtZW50LmNyZWF0ZUVsZW1lbnQoJ3NwYW4nKTtcclxuICAgICAgICAgICAgICAgIHRvdGFsVGV4dC50ZXh0Q29udGVudCA9ICdEaXNjb3VudHMgYW5kIHNoaXBwaW5nIGNhbGN1bGF0ZWQgYXQgY2hlY2tvdXQnO1xyXG4gICAgICAgICAgICAgICAgdG90YWxUZXh0LmNsYXNzTGlzdC5hZGQoJ2Rpc2NvdW50c2hpcHBpbmcnKTtcclxuICAgICAgICAgICAgICAgIFxyXG4gICAgICAgICAgICAgICAgdGFyZ2V0RWxlbWVudC5wYXJlbnROb2RlLmluc2VydEJlZm9yZSh0b3RhbFRleHQsIHRhcmdldEVsZW1lbnQpO1xyXG4gICAgICAgICAgICAgICAgdGFyZ2V0RWxlbWVudC5kYXRhc2V0LnRvdGFsSW5zZXJ0ZWQgPSB0cnVlO1xyXG4gICAgICAgICAgICB9XHJcbiAgICA8L3NjcmlwdD5cclxuXHJcbiIsIm9uRW1wdHlDYXJ0IjoiIn0=");
        if (window.upcartSettings.upcartSettings.htmlFields === '') {
            window.upcartSettings.upcartSettings.htmlFields = b64DecodeUnicode("eyJhYm92ZUZvb3RlciI6IiIsImFib3ZlSGVhZGVyIjoiIiwiYmVsb3dIZWFkZXIiOiIiLCJiZXR3ZWVuTGluZUl0ZW1zIjoiIiwiYWJvdmVDaGVja291dEJ1dHRvbiI6IiIsImJlbG93Q2hlY2tvdXRCdXR0b24iOiIiLCJib3R0b21PZkNhcnQiOiIiLCJvbkVtcHR5Q2FydCI6IiIsInNjcmlwdHNCZWZvcmVMb2FkIjoiIn0=");
        }
        window.upcartSettings.upcartSettings.htmlFields = JSON.parse(window.upcartSettings.upcartSettings.htmlFields);
        window.upcartSettings.upcartSettings.automaticDiscount = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartSettings.automaticDiscount === '') {
            window.upcartSettings.upcartSettings.automaticDiscount = b64DecodeUnicode("dHJ1ZQ==");
        }
        window.upcartSettings.upcartSettings.automaticDiscount = JSON.parse(window.upcartSettings.upcartSettings.automaticDiscount);
        window.upcartSettings.upcartSettings.basePriceForDiscount = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartSettings.basePriceForDiscount === '') {
            window.upcartSettings.upcartSettings.basePriceForDiscount = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartSettings.basePriceForDiscount = JSON.parse(window.upcartSettings.upcartSettings.basePriceForDiscount);
        window.upcartSettings.upcartSettings.hideSingleUnderscoredProperties = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartSettings.hideSingleUnderscoredProperties === '') {
            window.upcartSettings.upcartSettings.hideSingleUnderscoredProperties = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartSettings.hideSingleUnderscoredProperties = JSON.parse(window.upcartSettings.upcartSettings.hideSingleUnderscoredProperties);
        window.upcartSettings.upcartSettings.showContinueShoppingButton = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartSettings.showContinueShoppingButton === '') {
            window.upcartSettings.upcartSettings.showContinueShoppingButton = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartSettings.showContinueShoppingButton = JSON.parse(window.upcartSettings.upcartSettings.showContinueShoppingButton);
        window.upcartSettings.upcartSettings.ajaxRaceConditionPrevention = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartSettings.ajaxRaceConditionPrevention === '') {
            window.upcartSettings.upcartSettings.ajaxRaceConditionPrevention = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartSettings.ajaxRaceConditionPrevention = JSON.parse(window.upcartSettings.upcartSettings.ajaxRaceConditionPrevention);
        window.upcartSettings.upcartSettings.htmlFieldForceReRender = b64DecodeUnicode("");
        if (window.upcartSettings.upcartSettings.htmlFieldForceReRender === '') {
            window.upcartSettings.upcartSettings.htmlFieldForceReRender = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartSettings.htmlFieldForceReRender = JSON.parse(window.upcartSettings.upcartSettings.htmlFieldForceReRender);
        window.upcartSettings.upcartSettings.customCSS = b64DecodeUnicode("LnVwY2FydC1oZWFkZXIgew0KIGJhY2tncm91bmQtY29sb3I6IHdoaXRlOw0KfQ0KLnVwY2FydC1wcm9kdWN0LXF1YW50aXR5LW1pbnVzew0KICAgICAgICBib3JkZXItdG9wLWxlZnQtcmFkaXVzOiAxMHB4Ow0KICAgIGJvcmRlci1ib3R0b20tbGVmdC1yYWRpdXM6IDEwcHg7DQp9DQoudXBjYXJ0LXByb2R1Y3QtcXVhbnRpdHktcGx1c3sNCiAgICAgIGJvcmRlci10b3AtcmlnaHQtcmFkaXVzOiAxMHB4Ow0KICAgIGJvcmRlci1ib3R0b20tcmlnaHQtcmFkaXVzOiAxMHB4Ow0KfQ0KDQoudXBjYXJ0LXByb2R1Y3QtcXVhbnRpdHktcGx1cyB7DQogICAgICAgIGJvcmRlci10b3AtcmlnaHQtcmFkaXVzOiAxMHB4Ow0KICAgIGJvcmRlci1ib3R0b20tcmlnaHQtcmFkaXVzOiAxMHB4Ow0KICAgIA0KfQ0KLnVwY2FydC1wcm9kdWN0LXF1YW50aXR5LWlucHV0IHsNCiAgICBiYWNrZ3JvdW5kOiAjRkJGREZGOw0KfQ0KZGl2W2NsYXNzXj0ic3R5bGVzX1Byb2R1Y3RSb3dfX3N0ZXBwZXJfXyJdIHsNCiAgICBiYWNrZ3JvdW5kOiAjZmZmMDsNCn0NCi51cGNhcnQtaXRlbS1wcmljZSB7DQogICAgZm9udC1zaXplOiAxLjZyZW07DQogICAgZm9udC13ZWlnaHQ6NDAwOw0KfQ0KDQoudXBjYXJ0LWZvb3RlciB7DQogICAgICAgIGJvcmRlci10b3A6IDFweCBzb2xpZCAjZTFlMWUxIWltcG9ydGFudDsNCiAgICBib3gtc2hhZG93OiAjMDAwMDAwNDAgMHB4IC0xcHggOHB4IC0xcHghaW1wb3J0YW50Ow0KfQ0KDQouZGlzY291bnRzaGlwcGluZyB7DQp0ZXh0LWFsaWduOiBDRU5URVIhaW1wb3J0YW50Ow0KICAgIEZPTlQtU0laRTogMS4ycmVtIWltcG9ydGFudDsNCiAgICBvcGFjaXR5OiAwLjkhaW1wb3J0YW50Ow0KICAgIGZvbnQtd2VpZ2h0OiA0MDAhaW1wb3J0YW50Ow0KICAgIG1hcmdpbi10b3A6IDBweCFpbXBvcnRhbnQ7DQogICAgbWFyZ2luLWJvdHRvbTogMTVweCFpbXBvcnRhbnQ7DQogICAgZGlzcGxheTpibG9jazsNCn0NCi51cGNhcnQtY2hlY2tvdXQtYnV0dG9uLWNvbnRhaW5lciB7DQogICAgICAgYmFja2dyb3VuZC1jb2xvcjogIzMwNzJmNSFpbXBvcnRhbnQ7DQogICAgaGVpZ2h0OiA1MHB4IWltcG9ydGFudDsNCiAgICBsaW5lLWhlaWdodDogNTBweCFpbXBvcnRhbnQ7DQogICAgYm9yZGVyLXJhZGl1czogMTAwcHg7DQp9DQoudXBjYXJ0LWNoZWNrb3V0LWJ1dHRvbiB7DQogICAgYm9yZGVyLXJhZGl1czogMTAwcHg7DQogICAgIGZvbnQtc2l6ZTogMTdweCFpbXBvcnRhbnQ7DQogICAgIGZvbnQtd2VpZ2h0OiA2MDA7DQogICAgIGJveC1zaGFkb3c6IDcuMDdweCA3LjA3cHggI2FiYzRmNjhjOw0KfQ0KDQoudXBjYXJ0LXRydXN0LWJhZGdlLWltYWdlew0KICAgIHdpZHRoOjc1JTsNCiAgICBtYXJnaW4tdG9wOjIwcHg7DQogICAgdGV4dC1hbGlnbjogY2VudGVyOw0KICAgIG1hcmdpbi1sZWZ0OmF1dG87DQogICAgbWFyZ2luLXJpZ2h0OmF1dG87DQogICAgZGlzcGxheTpibG9jazsNCn0NCg0KLnVwY2FydC1oZWFkZXItdGV4dCB7DQogICAgZm9udC13ZWlnaHQ6NTAwOw0KICAgIHBhZGRpbmctdG9wOiA1cHg7DQp9DQoNCi51cGNhcnQtaGVhZGVyLWNsb3NlLWJ1dHRvbnsNCiAgICBib3JkZXItcmFkaXVzOiAxMDBweDsNCiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjREJGMUZGOw0KfQ0KDQoudXBjYXJ0LWhlYWRlci1jbG9zZS1idXR0b24taWNvbnsNCiAgICB3aWR0aDoxMnB4Ow0KICAgIGhlaWdodDoxMnB4Ow0KDQp9DQoudXBjYXJ0LXVwc2VsbHMtdGl0bGV7DQogICAgZm9udC13ZWlnaHQ6NDAwOw0KfQ0KLnVwY2FydC11cHNlbGwtaXRlbS1jYXJkew0KICAgIGJhY2tncm91bmQ6I2Y2ZmJmZjsNCiAgICBib3JkZXI6c29saWQgMXB4ICMzMDcyZjU7DQogICAgYm9yZGVyLXJhZGl1czoxNXB4Ow0KICAgIGJveC1zaGFkb3c6IDBweCAwcHggOHB4IC0ycHggIzk1OTU5NTsNCiAgICBwYWRkaW5nOjEwcHg7DQp9DQoudXBjYXJ0LXVwc2VsbC1pdGVtLXRpdGxlew0KICAgIGZvbnQtd2VpZ2h0OjQwMDsNCiAgICB0ZXh0LW92ZXJmbG93OiBmYWRlOw0KfQ0KDQoNCi51cGNhcnQtdXBzZWxscy1idXR0b257DQogICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmZmZmIWltcG9ydGFudDsNCiAgICBib3JkZXItcmFkaXVzOiAxMDBweDsNCiAgICBjb2xvcjojMzA3MmY1IWltcG9ydGFudDsNCiAgICBib3JkZXI6c29saWQgMXB4ICMzMDcyZjUhaW1wb3J0YW50Ow0KICAgICBib3gtc2hhZG93OiAycHggMnB4ICMzMDcyZjU7DQogICAgIGxpbmUtaGVpZ2h0OiA2cHghaW1wb3J0YW50Ow0KIA0KfQ0KDQoNCi51cGNhcnQtdXBzZWxsLWl0ZW0taW1hZ2Utd3JhcHBlcnsNCiAgICBiYWNrZ3JvdW5kOm5vbmU7DQp9");
        if (window.upcartSettings.upcartSettings.customCSS === '') {
            window.upcartSettings.upcartSettings.customCSS = b64DecodeUnicode("Knt9");
        }
        window.upcartSettings.upcartSettings.customStickyCartCSS = b64DecodeUnicode("Knt9");
        if (window.upcartSettings.upcartSettings.customStickyCartCSS === '') {
            window.upcartSettings.upcartSettings.customStickyCartCSS = b64DecodeUnicode("Knt9");
        }
        window.upcartSettings.upcartEditorSettings.cartIsEnabled = b64DecodeUnicode("dHJ1ZQ==");
        if (window.upcartSettings.upcartEditorSettings.cartIsEnabled === '') {
            window.upcartSettings.upcartEditorSettings.cartIsEnabled = b64DecodeUnicode("dHJ1ZQ==");
        }
        window.upcartSettings.upcartEditorSettings.cartIsEnabled = JSON.parse(window.upcartSettings.upcartEditorSettings.cartIsEnabled);
        window.upcartSettings.upcartEditorSettings.settingsModule = b64DecodeUnicode("eyJmaWVsZHMiOnsiY29tcGFyZUF0UHJpY2UiOnRydWUsImluaGVyaXRGb250cyI6dHJ1ZSwiYmFja2dyb3VuZENvbG9yIjoiI0VERjhGRiIsImNhcnRBY2NlbnRDb2xvciI6IiNmZmZmZmYiLCJidXR0b25Db2xvciI6IiMzMDcyRjUiLCJidXR0b25UZXh0Q29sb3IiOiIjRkZGRkZGIiwiYnV0dG9uVGV4dEhvdmVyQ29sb3IiOiIjZTllOWU5IiwiY2FydFRleHRDb2xvciI6IiMwMDAwMDAifX0=");
        if (window.upcartSettings.upcartEditorSettings.settingsModule === '') {
            window.upcartSettings.upcartEditorSettings.settingsModule = b64DecodeUnicode("eyJmaWVsZHMiOnsiY29tcGFyZUF0UHJpY2UiOnRydWUsImluaGVyaXRGb250cyI6dHJ1ZSwiYmFja2dyb3VuZENvbG9yIjoiI0ZGRkZGRiIsImNhcnRBY2NlbnRDb2xvciI6IiNmNmY2ZjciLCJidXR0b25Db2xvciI6IiMwMDAwMDAiLCJidXR0b25UZXh0Q29sb3IiOiIjRkZGRkZGIiwiYnV0dG9uVGV4dEhvdmVyQ29sb3IiOiIjZTllOWU5IiwiY2FydFRleHRDb2xvciI6IiMwMDAwMDAifX0=");
        }
        window.upcartSettings.upcartEditorSettings.settingsModule = JSON.parse(window.upcartSettings.upcartEditorSettings.settingsModule);
        window.upcartSettings.upcartEditorSettings.announcementModule = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.announcementModule === '') {
            window.upcartSettings.upcartEditorSettings.announcementModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.announcementModule = JSON.parse(window.upcartSettings.upcartEditorSettings.announcementModule);
        window.upcartSettings.upcartEditorSettings.announcementEditor = b64DecodeUnicode("PHA+WW91ciBwcm9kdWN0cyBhcmUgcmVzZXJ2ZWQgZm9yIDxiPntUSU1FUn08L2I+IG1pbnV0ZXMhPC9wPg==");
        if (window.upcartSettings.upcartEditorSettings.announcementEditor === '') {
            window.upcartSettings.upcartEditorSettings.announcementEditor = b64DecodeUnicode("PHA+WW91ciBwcm9kdWN0cyBhcmUgcmVzZXJ2ZWQgZm9yIDxiPntUSU1FUn08L2I+IG1pbnV0ZXMhPC9wPg==");
        }
        window.upcartSettings.upcartEditorSettings.announcementBackgroundColor = b64DecodeUnicode("I0NERTBFMA==");
        if (window.upcartSettings.upcartEditorSettings.announcementBackgroundColor === '') {
            window.upcartSettings.upcartEditorSettings.announcementBackgroundColor = b64DecodeUnicode("I0NERTBFMA==");
        }
        window.upcartSettings.upcartEditorSettings.announcementModulePosition = b64DecodeUnicode("dG9w");
        if (window.upcartSettings.upcartEditorSettings.announcementModulePosition === '') {
            window.upcartSettings.upcartEditorSettings.announcementModulePosition = b64DecodeUnicode("dG9w");
        }
        window.upcartSettings.upcartEditorSettings.announcementBorderColor = b64DecodeUnicode("I0M1RTZGRA==");
        if (window.upcartSettings.upcartEditorSettings.announcementBorderColor === '') {
            window.upcartSettings.upcartEditorSettings.announcementBorderColor = b64DecodeUnicode("I0M1RTZGRA==");
        }
        window.upcartSettings.upcartEditorSettings.announcementTimer = b64DecodeUnicode("MA==");
        if (window.upcartSettings.upcartEditorSettings.announcementTimer === '') {
            window.upcartSettings.upcartEditorSettings.announcementTimer = b64DecodeUnicode("MDA6MDA=");
        }
        window.upcartSettings.upcartEditorSettings.rewardsModule = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.rewardsModule === '') {
            window.upcartSettings.upcartEditorSettings.rewardsModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.rewardsModule = JSON.parse(window.upcartSettings.upcartEditorSettings.rewardsModule);
        window.upcartSettings.upcartEditorSettings.rewardsBarBackgroundColor = b64DecodeUnicode("I0UyRTJFMg==");
        if (window.upcartSettings.upcartEditorSettings.rewardsBarBackgroundColor === '') {
            window.upcartSettings.upcartEditorSettings.rewardsBarBackgroundColor = b64DecodeUnicode("I0UyRTJFMg==");
        }
        window.upcartSettings.upcartEditorSettings.rewardsBarForegroundColor = b64DecodeUnicode("IzkzRDNGRg==");
        if (window.upcartSettings.upcartEditorSettings.rewardsBarForegroundColor === '') {
            window.upcartSettings.upcartEditorSettings.rewardsBarForegroundColor = b64DecodeUnicode("IzkzRDNGRg==");
        }
        window.upcartSettings.upcartEditorSettings.rewardsBasis = b64DecodeUnicode("Y2FydFRvdGFs");
        if (window.upcartSettings.upcartEditorSettings.rewardsBasis === '') {
            window.upcartSettings.upcartEditorSettings.rewardsBasis = b64DecodeUnicode("Y2FydFRvdGFs");
        }
        window.upcartSettings.upcartEditorSettings.rewardsTargetType = b64DecodeUnicode("cHJvZHVjdHNPck9yZGVy");
        if (window.upcartSettings.upcartEditorSettings.rewardsTargetType === '') {
            window.upcartSettings.upcartEditorSettings.rewardsTargetType = b64DecodeUnicode("cHJvZHVjdHNPck9yZGVy");
        }
        window.upcartSettings.upcartEditorSettings.rewardsMinAmount = b64DecodeUnicode("MTI1");
        if (window.upcartSettings.upcartEditorSettings.rewardsMinAmount === '') {
            window.upcartSettings.upcartEditorSettings.rewardsMinAmount = b64DecodeUnicode("MTI1");
        }
        window.upcartSettings.upcartEditorSettings.rewardsEditor = b64DecodeUnicode("PHA+WW914oCZcmUgPGI+e0FNT1VOVH08L2I+IGF3YXkgZnJvbSBmcmVlIHNoaXBwaW5nITwvcD4=");
        if (window.upcartSettings.upcartEditorSettings.rewardsEditor === '') {
            window.upcartSettings.upcartEditorSettings.rewardsEditor = b64DecodeUnicode("PHA+WW914oCZcmUgPGI+e0FNT1VOVH08L2I+IGF3YXkgZnJvbSBmcmVlIHNoaXBwaW5nITwvcD4=");
        }
        window.upcartSettings.upcartEditorSettings.rewardsEditorAfterText = b64DecodeUnicode("RnJlZSBzaGlwcGluZyB1bmxvY2tlZCE=");
        if (window.upcartSettings.upcartEditorSettings.rewardsEditorAfterText === '') {
            window.upcartSettings.upcartEditorSettings.rewardsEditorAfterText = b64DecodeUnicode("RnJlZSBzaGlwcGluZyB1bmxvY2tlZCE=");
        }
        window.upcartSettings.upcartEditorSettings.rewardsEditorForItemCount = b64DecodeUnicode("PHA+WW914oCZcmUgPGI+e0NPVU5UfTwvYj4gcHJvZHVjdHMgYXdheSBmcm9tIGZyZWUgc2hpcHBpbmchPC9wPg==");
        if (window.upcartSettings.upcartEditorSettings.rewardsEditorForItemCount === '') {
            window.upcartSettings.upcartEditorSettings.rewardsEditorForItemCount = b64DecodeUnicode("PHA+WW914oCZcmUgPGI+e0NPVU5UfTwvYj4gcHJvZHVjdHMgYXdheSBmcm9tIGZyZWUgc2hpcHBpbmchPC9wPg==");
        }
        window.upcartSettings.upcartEditorSettings.rewardsItemCount = b64DecodeUnicode("NQ==");
        if (window.upcartSettings.upcartEditorSettings.rewardsItemCount === '') {
            window.upcartSettings.upcartEditorSettings.rewardsItemCount = b64DecodeUnicode("NQ==");
        }
        window.upcartSettings.upcartEditorSettings.rewardsTiers = b64DecodeUnicode("eyJ0aWVycyI6W3sidGFyZ2V0VHlwZSI6InByb2R1Y3RzT3JPcmRlciIsIm1pbkFtb3VudCI6IjEyNSIsIml0ZW1Db3VudCI6IjUiLCJ0ZXh0QmVmb3JlUmVhY2hpbmdGb3JDYXJ0VG90YWwiOiI8cD5Zb3XigJlyZSA8Yj57QU1PVU5UfTwvYj4gYXdheSBmcm9tIGZyZWUgc2hpcHBpbmchPC9wPiIsInRleHRCZWZvcmVSZWFjaGluZ0Zvckl0ZW1Db3VudCI6IjxwPllvdeKAmXJlIDxiPntDT1VOVH08L2I+IHByb2R1Y3RzIGF3YXkgZnJvbSBmcmVlIHNoaXBwaW5nITwvcD4iLCJyZXdhcmREZXNjcmlwdGlvbiI6IkZyZWUgU2hpcHBpbmciLCJwcm9kdWN0cyI6W119XX0=");
        if (window.upcartSettings.upcartEditorSettings.rewardsTiers === '') {
            window.upcartSettings.upcartEditorSettings.rewardsTiers = b64DecodeUnicode("eyJ0aWVycyI6W119");
        }
        window.upcartSettings.upcartEditorSettings.rewardsTiers = JSON.parse(window.upcartSettings.upcartEditorSettings.rewardsTiers);
        window.upcartSettings.upcartEditorSettings.rewardsTierProducts = b64DecodeUnicode("W10=");
        if (window.upcartSettings.upcartEditorSettings.rewardsTierProducts === '') {
            window.upcartSettings.upcartEditorSettings.rewardsTierProducts = b64DecodeUnicode("W10=");
        }
        window.upcartSettings.upcartEditorSettings.rewardsTierProducts = JSON.parse(window.upcartSettings.upcartEditorSettings.rewardsTierProducts);
        window.upcartSettings.upcartEditorSettings.upsellsModule = b64DecodeUnicode("dHJ1ZQ==");
        if (window.upcartSettings.upcartEditorSettings.upsellsModule === '') {
            window.upcartSettings.upcartEditorSettings.upsellsModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.upsellsModule = JSON.parse(window.upcartSettings.upcartEditorSettings.upsellsModule);
        window.upcartSettings.upcartEditorSettings.upsellsDirection = b64DecodeUnicode("dmVydGljYWw=");
        if (window.upcartSettings.upcartEditorSettings.upsellsDirection === '') {
            window.upcartSettings.upcartEditorSettings.upsellsDirection = b64DecodeUnicode("aG9yaXpvbnRhbA==");
        }
        window.upcartSettings.upcartEditorSettings.upsellsTitle = b64DecodeUnicode("PHA+VHJ5IG91ciBvdGhlciBiZXN0IHNlbGxlcnMhIPCfkLbinaTvuI88L3A+Cg==");
        if (window.upcartSettings.upcartEditorSettings.upsellsTitle === '') {
            window.upcartSettings.upcartEditorSettings.upsellsTitle = b64DecodeUnicode("WW91J2xsIGxvdmUgdGhlc2U=");
        }
        window.upcartSettings.upcartEditorSettings.maximumUpsellsToShow = b64DecodeUnicode("MTA=");
        if (window.upcartSettings.upcartEditorSettings.maximumUpsellsToShow === '') {
            window.upcartSettings.upcartEditorSettings.maximumUpsellsToShow = b64DecodeUnicode("MTA=");
        }
        window.upcartSettings.upcartEditorSettings.upsellsShouldLimit = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.upsellsShouldLimit === '') {
            window.upcartSettings.upcartEditorSettings.upsellsShouldLimit = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.upsellsShouldLimit = JSON.parse(window.upcartSettings.upcartEditorSettings.upsellsShouldLimit);
        window.upcartSettings.upcartEditorSettings.upsellsTrigger = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.upsellsTrigger === '') {
            window.upcartSettings.upcartEditorSettings.upsellsTrigger = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.upsellsTrigger = JSON.parse(window.upcartSettings.upcartEditorSettings.upsellsTrigger);
        window.upcartSettings.upcartEditorSettings.showUpsellItemsAlreadyInCart = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.showUpsellItemsAlreadyInCart === '') {
            window.upcartSettings.upcartEditorSettings.showUpsellItemsAlreadyInCart = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.showUpsellItemsAlreadyInCart = JSON.parse(window.upcartSettings.upcartEditorSettings.showUpsellItemsAlreadyInCart);
        window.upcartSettings.upcartEditorSettings.upsellsItems = b64DecodeUnicode("W3siaWQiOiIiLCJ2IjoyLCJ0cmlnZ2VyIjp7Im9uIjoiYWxsIn0sInVwc2VsbCI6eyJ0eXBlIjoiUHJvZHVjdCIsInByb2R1Y3RzIjpbeyJpZCI6ImdpZDovL3Nob3BpZnkvUHJvZHVjdC83NTczNTMyNjcyMTk1Iiwic2hvcnRJZCI6Ijc1NzM1MzI2NzIxOTUiLCJ2YXJpYW50cyI6WyI0MjQ1MTEwNDEwNDY0MyJdLCJoYW5kbGUiOiJib25laXR1cMKuLWRvZy1iaXJ0aGRheS1jYWtlLWtpdCIsInRpdGxlIjoiQm9uZUl0VXDCriBEb2cgQmlydGhkYXkgQ2FrZSBLaXQiLCJpbWFnZSI6Imh0dHBzOi8vY2RuLnNob3BpZnkuY29tL3MvZmlsZXMvMS8wNjEzLzIyODgvNzM2My9maWxlcy9CSVJUSERBWV9NQUlOLmpwZz92PTE2OTIzOTE5MzMifSx7ImlkIjoiZ2lkOi8vc2hvcGlmeS9Qcm9kdWN0Lzc1ODYzNDAyMDg4MzUiLCJzaG9ydElkIjoiNzU4NjM0MDIwODgzNSIsInZhcmlhbnRzIjpbIjQyNDU1NTQxNjc4Mjc1Il0sImhhbmRsZSI6ImRvZy1wdXp6bGUtdG95IiwidGl0bGUiOiJCb25lSXRVcMKuIERvZyBQdXp6bGUgVG95IiwiaW1hZ2UiOiJodHRwczovL2Nkbi5zaG9waWZ5LmNvbS9zL2ZpbGVzLzEvMDYxMy8yMjg4LzczNjMvZmlsZXMvSU1HXzYwNTAuanBnP3Y9MTY5MjM5MTkxNCJ9LHsiaWQiOiJnaWQ6Ly9zaG9waWZ5L1Byb2R1Y3QvNzU0MDk5MDExNjAzNSIsInNob3J0SWQiOiI3NTQwOTkwMTE2MDM1IiwidmFyaWFudHMiOlsiNDI0MDAwODMyNDcyOTkiXSwiaGFuZGxlIjoiYm9uZWl0dXDCri1jYXQtZWRpdGlvbi1ob21lbWFkZS10cmVhdHMta2l0IiwidGl0bGUiOiJCb25lSXRVcMKuIENhdCBFZGl0aW9uIPCfkIjwn5CxIiwiaW1hZ2UiOiJodHRwczovL2Nkbi5zaG9waWZ5LmNvbS9zL2ZpbGVzLzEvMDYxMy8yMjg4LzczNjMvcHJvZHVjdHMvY2F0X2xvd19yZXNfYmVhZjg5YWItYzI4OS00MTYyLWFkZDgtMTFjMTdiMTI3ODVhLmpwZz92PTE2NzkwMjMyOTMifV19fV0=");
        if (window.upcartSettings.upcartEditorSettings.upsellsItems === '') {
            window.upcartSettings.upcartEditorSettings.upsellsItems = b64DecodeUnicode("W3siX2lkIjoiIiwidHJpZ2dlciI6bnVsbCwidXBzZWxsIjpudWxsfV0=");
        }
        window.upcartSettings.upcartEditorSettings.upsellsItems = JSON.parse(window.upcartSettings.upcartEditorSettings.upsellsItems);
        window.upcartSettings.upcartEditorSettings.upsellsModulePosition = b64DecodeUnicode("Ym90dG9t");
        if (window.upcartSettings.upcartEditorSettings.upsellsModulePosition === '') {
            window.upcartSettings.upcartEditorSettings.upsellsModulePosition = b64DecodeUnicode("Ym90dG9t");
        }
        window.upcartSettings.upcartEditorSettings.recommendedUpsells = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.recommendedUpsells === '') {
            window.upcartSettings.upcartEditorSettings.recommendedUpsells = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.recommendedUpsells = JSON.parse(window.upcartSettings.upcartEditorSettings.recommendedUpsells);
        window.upcartSettings.upcartEditorSettings.addonsModule = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.addonsModule === '') {
            window.upcartSettings.upcartEditorSettings.addonsModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.addonsModule = JSON.parse(window.upcartSettings.upcartEditorSettings.addonsModule);
        window.upcartSettings.upcartEditorSettings.addonsField = b64DecodeUnicode("eyJzaGlwcGluZ1Byb3RlY3Rpb24iOnsiYWN0aXZlIjpmYWxzZSwicHJvZHVjdEhhbmRsZSI6bnVsbCwiZGVmYXVsdEJlaGF2aW9yIjpmYWxzZX0sInByb2R1Y3RBZGRvbiI6eyJkZWZhdWx0QmVoYXZpb3IiOmZhbHNlLCJhY3RpdmUiOnRydWUsInByb2R1Y3RIYW5kbGUiOiJkb2ctcmVjaXBlcyIsInByb2R1Y3RJZCI6ImdpZDovL3Nob3BpZnkvUHJvZHVjdC83NDQ1MTYxNjA3MzYzIiwicHJvZHVjdCI6eyJib2R5SHRtbCI6IiIsInByaWNlIjoiOS45OSIsImNvbXBhcmVBdFByaWNlIjpudWxsLCJpZCI6ImdpZDovL3Nob3BpZnkvUHJvZHVjdC83NDQ1MTYxNjA3MzYzIiwic2hvcnRJZCI6Ijc0NDUxNjE2MDczNjMiLCJpbWFnZSI6Imh0dHBzOi8vY2RuLnNob3BpZnkuY29tL3MvZmlsZXMvMS8wNjEzLzIyODgvNzM2My9wcm9kdWN0cy9TdWJzY3JpcHRpb25fRG9nXzIuanBnP3Y9MTY3NjQxNTg3OSIsInRpdGxlIjoiQm9uZUl0VXDCriBQUkVNSVVNIFZldCBBcHByb3ZlZCBSZWNpcGVzIChEb2dzKSIsImhhbmRsZSI6ImRvZy1yZWNpcGVzIiwidmFyaWFudHMiOm51bGx9fX0=");
        if (window.upcartSettings.upcartEditorSettings.addonsField === '') {
            window.upcartSettings.upcartEditorSettings.addonsField = b64DecodeUnicode("eyJzaGlwcGluZ1Byb3RlY3Rpb24iOnsiYWN0aXZlIjpmYWxzZSwicHJvZHVjdEhhbmRsZSI6bnVsbCwiZGVmYXVsdEJlaGF2aW9yIjpmYWxzZX0sInByb2R1Y3RBZGRvbiI6eyJhY3RpdmUiOmZhbHNlLCJwcm9kdWN0SGFuZGxlIjpudWxsLCJwcm9kdWN0IjpudWxsLCJkZWZhdWx0QmVoYXZpb3IiOmZhbHNlfX0=");
        }
        window.upcartSettings.upcartEditorSettings.addonsField = JSON.parse(window.upcartSettings.upcartEditorSettings.addonsField);
        window.upcartSettings.upcartEditorSettings.notesModule = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.notesModule === '') {
            window.upcartSettings.upcartEditorSettings.notesModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.notesModule = JSON.parse(window.upcartSettings.upcartEditorSettings.notesModule);
        window.upcartSettings.upcartEditorSettings.notesTitle = b64DecodeUnicode("PHA+QWRkIHNwZWNpYWwgaW5zdHJ1Y3Rpb25zPC9wPg==");
        if (window.upcartSettings.upcartEditorSettings.notesTitle === '') {
            window.upcartSettings.upcartEditorSettings.notesTitle = b64DecodeUnicode("PHA+QWRkIHNwZWNpYWwgaW5zdHJ1Y3Rpb25zPC9wPg==");
        }
        window.upcartSettings.upcartEditorSettings.notesPlaceholder = b64DecodeUnicode("U3BlY2lhbCBpbnN0cnVjdGlvbnMgZm9yIHlvdXIgb3JkZXI=");
        if (window.upcartSettings.upcartEditorSettings.notesPlaceholder === '') {
            window.upcartSettings.upcartEditorSettings.notesPlaceholder = b64DecodeUnicode("U3BlY2lhbCBpbnN0cnVjdGlvbnMgZm9yIHlvdXIgb3JkZXI=");
        }
        window.upcartSettings.upcartEditorSettings.trustBadgesModule = b64DecodeUnicode("dHJ1ZQ==");
        if (window.upcartSettings.upcartEditorSettings.trustBadgesModule === '') {
            window.upcartSettings.upcartEditorSettings.trustBadgesModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.trustBadgesModule = JSON.parse(window.upcartSettings.upcartEditorSettings.trustBadgesModule);
        window.upcartSettings.upcartEditorSettings.trustBadges = b64DecodeUnicode("eyJ1cmwiOiJodHRwczovL2Nkbi5zaG9waWZ5LmNvbS9zL2ZpbGVzLzEvMDYxMy8yMjg4LzczNjMvZmlsZXMvVXBjYXJ0X1RydXN0X0JhZGdlXzE2OTI1MDc3OTY5ODMucG5nP3Y9MTY5MjUwNzc5OSIsInBvc2l0aW9uIjoiYm90dG9tIn0=");
        if (window.upcartSettings.upcartEditorSettings.trustBadges === '') {
            window.upcartSettings.upcartEditorSettings.trustBadges = b64DecodeUnicode("eyJ1cmwiOiIiLCJwb3NpdGlvbiI6ImJvdHRvbSJ9");
        }
        window.upcartSettings.upcartEditorSettings.trustBadges = JSON.parse(window.upcartSettings.upcartEditorSettings.trustBadges);
        window.upcartSettings.upcartEditorSettings.discountCodeModule = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.discountCodeModule === '') {
            window.upcartSettings.upcartEditorSettings.discountCodeModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.discountCodeModule = JSON.parse(window.upcartSettings.upcartEditorSettings.discountCodeModule);
        window.upcartSettings.upcartEditorSettings.discountCodePlaceholder = b64DecodeUnicode("RGlzY291bnQgY29kZQ==");
        if (window.upcartSettings.upcartEditorSettings.discountCodePlaceholder === '') {
            window.upcartSettings.upcartEditorSettings.discountCodePlaceholder = b64DecodeUnicode("RGlzY291bnQgY29kZQ==");
        }
        window.upcartSettings.upcartEditorSettings.discountCodeButtonText = b64DecodeUnicode("QXBwbHk=");
        if (window.upcartSettings.upcartEditorSettings.discountCodeButtonText === '') {
            window.upcartSettings.upcartEditorSettings.discountCodeButtonText = b64DecodeUnicode("QXBwbHk=");
        }
        window.upcartSettings.upcartEditorSettings.subscriptionUpgradesModule = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.subscriptionUpgradesModule === '') {
            window.upcartSettings.upcartEditorSettings.subscriptionUpgradesModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.subscriptionUpgradesModule = JSON.parse(window.upcartSettings.upcartEditorSettings.subscriptionUpgradesModule);
        window.upcartSettings.upcartEditorSettings.subscriptionUpgradesPreventDowngrades = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.subscriptionUpgradesPreventDowngrades === '') {
            window.upcartSettings.upcartEditorSettings.subscriptionUpgradesPreventDowngrades = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.subscriptionUpgradesPreventDowngrades = JSON.parse(window.upcartSettings.upcartEditorSettings.subscriptionUpgradesPreventDowngrades);
        window.upcartSettings.upcartEditorSettings.subscriptionUpgradesButtonText = b64DecodeUnicode("VXBncmFkZSB0byB7e3NlbGxpbmdfcGxhbl9ncm91cF9uYW1lfX0=");
        if (window.upcartSettings.upcartEditorSettings.subscriptionUpgradesButtonText === '') {
            window.upcartSettings.upcartEditorSettings.subscriptionUpgradesButtonText = b64DecodeUnicode("VXBncmFkZSB0byB7e3NlbGxpbmdfcGxhbl9ncm91cF9uYW1lfX0=");
        }
        window.upcartSettings.upcartEditorSettings.expressPayModule = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.upcartEditorSettings.expressPayModule === '') {
            window.upcartSettings.upcartEditorSettings.expressPayModule = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.upcartEditorSettings.expressPayModule = JSON.parse(window.upcartSettings.upcartEditorSettings.expressPayModule);
        window.upcartSettings.upcartEditorSettings.expressPayEnabledGateways = b64DecodeUnicode("W10=");
        if (window.upcartSettings.upcartEditorSettings.expressPayEnabledGateways === '') {
            window.upcartSettings.upcartEditorSettings.expressPayEnabledGateways = b64DecodeUnicode("W10=");
        }
        window.upcartSettings.upcartEditorSettings.expressPayEnabledGateways = JSON.parse(window.upcartSettings.upcartEditorSettings.expressPayEnabledGateways);
        window.upcartSettings.stickyCartButtonEditorSettings.stickyCartButtonIsEnabled = b64DecodeUnicode("ZmFsc2U=");
        if (window.upcartSettings.stickyCartButtonEditorSettings.stickyCartButtonIsEnabled === '') {
            window.upcartSettings.stickyCartButtonEditorSettings.stickyCartButtonIsEnabled = b64DecodeUnicode("ZmFsc2U=");
        }
        window.upcartSettings.stickyCartButtonEditorSettings.stickyCartButtonIsEnabled = JSON.parse(window.upcartSettings.stickyCartButtonEditorSettings.stickyCartButtonIsEnabled);
        window.upcartSettings.stickyCartButtonEditorSettings.backgroundColor = b64DecodeUnicode("IzAwMDAwMA==");
        if (window.upcartSettings.stickyCartButtonEditorSettings.backgroundColor === '') {
            window.upcartSettings.stickyCartButtonEditorSettings.backgroundColor = b64DecodeUnicode("IzAwMDAwMA==");
        }
        window.upcartSettings.stickyCartButtonEditorSettings.deviceSettings = b64DecodeUnicode("YWxsRGV2aWNlcw==");
        if (window.upcartSettings.stickyCartButtonEditorSettings.deviceSettings === '') {
            window.upcartSettings.stickyCartButtonEditorSettings.deviceSettings = b64DecodeUnicode("YWxsRGV2aWNlcw==");
        }
        window.upcartSettings.stickyCartButtonEditorSettings.iconColor = b64DecodeUnicode("I2ZmZmZmZg==");
        if (window.upcartSettings.stickyCartButtonEditorSettings.iconColor === '') {
            window.upcartSettings.stickyCartButtonEditorSettings.iconColor = b64DecodeUnicode("I2ZmZmZmZg==");
        }
        window.upcartSettings.stickyCartButtonEditorSettings.iconStyle = b64DecodeUnicode("c3F1YXJlQmFn");
        if (window.upcartSettings.stickyCartButtonEditorSettings.iconStyle === '') {
            window.upcartSettings.stickyCartButtonEditorSettings.iconStyle = b64DecodeUnicode("c3F1YXJlQmFn");
        }
        window.upcartSettings.stickyCartButtonEditorSettings.quantityBackgroundColor = b64DecodeUnicode("I2U0MjYyNg==");
        if (window.upcartSettings.stickyCartButtonEditorSettings.quantityBackgroundColor === '') {
            window.upcartSettings.stickyCartButtonEditorSettings.quantityBackgroundColor = b64DecodeUnicode("I2U0MjYyNg==");
        }
        window.upcartSettings.stickyCartButtonEditorSettings.quantityTextColor = b64DecodeUnicode("I2ZmZmZmZg==");
        if (window.upcartSettings.stickyCartButtonEditorSettings.quantityTextColor === '') {
            window.upcartSettings.stickyCartButtonEditorSettings.quantityTextColor = b64DecodeUnicode("I2ZmZmZmZg==");
        }
        window.upcartSettings.stickyCartButtonEditorSettings.stickyCartPosition = b64DecodeUnicode("Ym90dG9tUmlnaHQ=");
        if (window.upcartSettings.stickyCartButtonEditorSettings.stickyCartPosition === '') {
            window.upcartSettings.stickyCartButtonEditorSettings.stickyCartPosition = b64DecodeUnicode("Ym90dG9tUmlnaHQ=");
        }
    </script>
    <script type="lazyload_int">
        window.upcartPreloadedCart = {{ cart | json }};
        window.upcartMoneyFormat = "${{amount}}";
    </script>
    <script type="lazyload_int">
        window.upcartPreloadedCart.items = window.upcartPreloadedCart.items.map((line) => {    
            {%- for item in cart.items -%}
                if (line.id === '{{ item.variant.id }}' ) {
                    line.compareAtPrice = '{{ item.variant.compare_at_price }}' || null;
                }    
            {% endfor %}
            return line;
        });
    </script>
    <div id="upCart"></div>
    <div id="upCartStickyButton"></div>
    <style id="upCart-customCSS">.upcart-header{background-color:#fff}.upcart-product-quantity-minus{border-top-left-radius:10px;border-bottom-left-radius:10px}.upcart-product-quantity-plus{border-top-right-radius:10px;border-bottom-right-radius:10px}.upcart-product-quantity-input{background:#fbfdff}div[class^=styles_ProductRow__stepper__]{background:#fff0}.upcart-item-price{font-size:1.6rem;font-weight:400}.upcart-footer{border-top:1px solid #e1e1e1!important;box-shadow:#00000040 0 -1px 8px -1px!important}.discountshipping{text-align:CENTER!important;FONT-SIZE:1.2rem!important;opacity:.9!important;font-weight:400!important;margin-top:0!important;margin-bottom:15px!important;display:block}.upcart-checkout-button-container{background-color:#3072f5!important;height:50px!important;line-height:50px!important;border-radius:100px}.upcart-checkout-button{border-radius:100px;font-size:17px!important;font-weight:600;box-shadow:7.07px 7.07px #abc4f68c}.upcart-trust-badge-image{width:75%;margin-top:20px;text-align:center;margin-left:auto;margin-right:auto;display:block}.upcart-header-text{font-weight:500;padding-top:5px}.upcart-header-close-button{border-radius:100px;background-color:#dbf1ff}.upcart-header-close-button-icon{width:12px;height:12px}.upcart-upsells-title{font-weight:400}.upcart-upsell-item-card{background:#f6fbff;border:1px solid #3072f5;border-radius:15px;box-shadow:0 0 8px -2px #959595;padding:10px}.upcart-upsell-item-title{font-weight:400;text-overflow:fade}.upcart-upsells-button{background-color:#fff!important;border-radius:100px;color:#3072f5!important;border:1px solid #3072f5!important;box-shadow:2px 2px #3072f5;line-height:6px!important}.upcart-upsell-item-image-wrapper{background:0 0}</style>
</div>